@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Azeret Mono", monospace;
  }


html{
    font-size: 16px;
}

  .container{
  max-width: 1200px;
  margin: auto;
  }


#navber{
   background-color: white;
   display: flex;
   justify-content: space-between;
   
}

.banner{
  background-image: url(https://i.ibb.co/XbXYfBb/Hero-bg.png);
  object-fit: cover;
  background-size: cover;
  height: 80vh;
}

.banner-content{
    text-align: center;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
}

#banner-pic{
   width: full;
}

.banner-hero-text{
    font-size: 3rem;
    max-width: 1000px;
    margin: auto;
}

.banner-hero-subtext{
    max-width: 800px;
    margin: auto;
   margin-top: 1rem;
}

.download{
    padding: 8px 12px ;
    border-radius: 10px;
    font-weight: 800;
}

.contact{
    margin-top: 1rem;
    padding: 10px 12px;
    background-color: black;
    border-radius: 0.5rem;
    color: white;
    
}
.middle-section{
  margin-top: 60px;
  background-color: white;
  justify-content: center;
}

.middle-two{
  background-color: #dfe4ea;
  margin: 20px 300px;
  padding: 20px 20px;
}
.why-web-dev{
  padding-top: 2rem;
  text-align: center;
}
.why-web-dev-heading{
  font-size: 2rem;
  
}

.card-one{
  align-items: center;
  border-color: black;
  padding: 30px 15px;
  border-radius: 2rem;
  margin: 3rem 20rem;
  background-color: white;
  justify-content: center;
  display: flex;
}

.inspiration{
   margin-top: 100px;
   justify-content: center;
   text-align: center;
}

.jhankar-pic{
 
  padding: 10px 2px;
  margin-top: 4rem;
  text-align: center;
  align-items: center;
   justify-content: center;
}

.jhankar{
    padding: 20PX 20PX;
    border-radius: 50PX;
    background-color: cornsilk;
    border: black;
    border-width: 2PX;
    border-style: dashed;
}

.html-css-javascript{
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
  text-align: center;
  display: flex;
}

.html{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: blue;
  justify-content: left;
  align-items: flex-start;
}

.html-heading{
   justify-content: left;
}

.last-cards{
   justify-content: center;
   text-align: center;
}

.react{
  margin: 30px 500px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: black;
  border-width: 2PX;
  border-style: dashed;
}